.image-hover-container {
    transition: all 0.3s ease;
    box-shadow: 8px 8px 4px 0px #00000040;
}

.grid-card{
    height: 208px  !important;;
    width: 208px  !important;; 
}

.image-hover-container img {
    transition: transform 0.3s ease;
}

.image-hover-container:hover img {
    transform: scale(1.05);
}

/* design overlay */
.image-hover-container .overlay {
    background-color: #F2EAE1B2;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.image-hover-container .overlay .item-name{
    cursor: pointer;
    pointer-events: auto;
}

/* Show overlay on hover */
.image-hover-container:hover .overlay {
    opacity: 1;
    visibility: visible;
}

/***custom design for btn edit / delete **/
.image-hover-container .btn-edit,
.image-hover-container .btn-delete{
    min-width: 90px;
    padding: 8px 18px !important;
}

.image-hover-container .btn-delete{
   background-color: var(--red-color) !important
}

.image-hover-container .btn-delete:hover{
    color: var(--red-color) !important;
    background-color: white !important;
    border: 0.5px solid var(--red-color) !important;;
}

.image-hover-container .btn-edit:hover{
    color: var(--orange00) !important;
}

@media (max-width: 1366px){
    .grid-card{
        height: 175px !important;
        width: 175px !important; 
    }

    .overlay p {
        font-size: 22px !important;
    }

    .image-hover-container .btn-edit,
    .image-hover-container .btn-delete{
        font-size: 14px !important;
        padding: 8px 12px !important;
        min-width: 70px;
    }
}

@media (max-width: 768px){
    .grid-card{
        height: 160px !important;
        width: 160px !important; 
    }

    .overlay p {
        font-size: 16px !important;
    }

    .image-hover-container .btn-edit,
    .image-hover-container .btn-delete{
        font-size: 12px !important;
        min-width: 60px;
    }
}
