.sidebar{
    background-color: var( --color-sidbar);
    padding: 35px;
    min-width: 270px
}
.btn-close-sidebar{
    width: 50px;
    height: 50px;
    display: none !important;
}
.user-info{
    padding-bottom: 6.25%;
}
.nav-links {
    overflow-y: auto;
}

.logout-btn {
    color: var(--color-black) !important;
    transition: all 0.5s ease;
}

.logout-btn:hover{
    color: var(--orange00) !important;
}

.logout-btn img{
    transition: all 0.5s ease;
}

.logout-btn:hover img{
    transform: translateX(10px);
}
@media (max-width: 992px) {
    .sidebar {
        transform: translateX(0);
      transition: transform 0.3s ease-in-out;
      z-index: 1050;
    }
  
    .sidebar.hide {
      transform: translateX(-100%);
    }
  
    .btn-close-sidebar {
      display: block !important;
      font-size: 1.25rem;
    }
  }