.formWrapper {
 padding-top:24px !important;
 padding-left: 33px!important;

}
.formTitle {
    margin: 3.4dvh 0;
    color: var(--black-color);
}
.formFields {
    gap: 64px;
}

.imageBox {
    height: 210px !important;
}

.formWrapper .upload-box{
    width: 100% !important;
}
.label-image{
    font-size: 32px !important;
}
.formWrapper .uploadIcon {
    width: 10vw;
    height: 108px;
}

.submitBtn {
    font-size: 32px !important;
    width: 199px;
    height: 61px;
    margin-top: 12dvh;
}

@media (max-width: 1439px) {
    .formTitle {
        margin: 34px 0;
    }
    
    .formFields {
        gap: 50px;
    }
    
    .imageBox {
        height: 192px;
    }
    
    .formWrapper .custom-input-group label,
    .formWrapper .label-image{
        font-size: 24px !important;
    }
    .submitBtn {
        font-size: 24px !important;
        width: 199px;
        height: 61px;
        margin-top: 70px;
    }
    
}

@media (max-width: 992px) {
    .formWrapper {
        padding-top: 12px;
    }
    
    .formTitle {
        margin: 30px 0;
    }
    
    .formFields {
        gap: 32px;
    }

    .formWrapper .custom-input-group label,
    .formWrapper .label-image{
        font-size: 16px !important;
    }

    .submitBtn {
        margin-top: 60px;
        font-size: 16px !important;
        width: 125px;
    }

    .imageBox {
        height: 160px;
    }
    
}