.upload-box {
  width: 100%;
  height: 100px;
  border: 2px dashed var(--color-border);
  border-radius: 12px;
  background-color: var( --bg-border);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.upload-preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}


@media (max-width: 1439px) {
  .upload-box {
    width:100px;
    height:100px;
  }
}