.modal-backdrop.show {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1 !important;
}

.modal-content {
    padding: 80px 0 !important;
}

.modal-content .modal-custom-btn {
    width: 200px;
}

@media (max-width: 992px) {
    .modal-content {
        padding: 40px 0 !important;
    }
    
    .modal-content .modal-body p{
       font-size: 18px !important;
    }

    .modal-content .modal-custom-btn {
        width: 100px;
        font-size: 20px !important;
    }

}

@media (max-width: 768px) {
    .modal-content {
        padding: 20px 0 !important;
    }
    
    .modal-content .modal-body p{
       font-size: 14px !important;
    }

    .modal-content .modal-custom-btn {
        width: 60px;
        font-size: 16px !important;
    }
}

@media (max-width: 576px) {
   .modal-sm-responsive{
      width: 100% !important;
      max-width: 340px !important;
      margin: 0 auto; 
    }
    .modal-backdrop.show{
        width: 100% !important;
    }      

}