.mb-32 {
  margin-bottom: 3dvh;
}

.mb-80 {
  margin-bottom: 6dvh;
}

.grid-cols-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 1rem;
  justify-items: center;
}

@media (max-width: 1439px) {
  .mb-32 {
    margin-bottom: 1.5555dvh;
  }

  .mb-80 {
    margin-bottom: 3.2222dvh;
  }

  .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

@media (max-width: 1200px) {
  .grid-cols-4 {
    gap: 0.5rem;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (max-width: 992px) {
  .grid-cols-4 {
    grid-template-columns: repeat(2, minmax(175px, 1fr));
  }

  .items-page-content {
    width: 100%;
    max-width: none;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}