.search-bar {
    max-width: 664px !important;
}

.search-bar .form-control {
    border: 1px solid var(--color-search) !important;
    border-right: 0!important;
    padding: 12px 16px !important;
    color: var(--grey04) !important;
    font-size: 18px !important;
}
.search-bar .form-control:focus {
    box-shadow: none !important;
}
.search-bar .btn {
    padding: 12px 16px !important;
    border: 1px solid var(--color-search) !important;
    border-left: 0!important;
}
.search-bar .btn svg{
    color: var(--grey04);
}
@media(max-width: 1919px){
    .search-bar .form-control {
        font-size: 14px !important;
    } 
}
@media(max-width: 1439px){
    .search-bar .form-control,   .search-bar .btn {
        padding: 8px 12px !important;
        font-size: 14px !important;
    }
    
}
